{% import "utils.j2" as utils %}

{% macro render_funding_data(url, type_) %}
{
  "url": "{{ url }}" {% call utils::optional_comma(type_.is_some()) %}
  {% call utils::render_optional_string("type", type_, 2) %}
}
{% endmacro %}

{% match self %}
  {% when Self::Url(str) %}
"{{ str }}"
  {% when Self::Data(data) %}
{% call render_funding_data(data.url, data.type_) +%}
  {% when Self::List(list) %}
{% for data in list +%}
{% call render_funding_data(data.url, data.type_) +%}
{% endfor +%}
{% endmatch %}
