{% import "utils.j2" as utils %}

{% match self %}
  {% when Self::Url(str) +%}
"{{ str }}"
  {% when Self::Data(data) +%}
{{+ data +}}
  {% when Self::List(list) %}
[
{% for data in list %}
  {% filter indent(2) %}
  {{+ data.render()? }} {% call utils::optional_comma(!loop.last) ~%}
  {% endfilter %}
{% endfor +%}
]
{% endmatch %}
