import { defineConfig } from "vitest/config";
import { resolve, join } from "node:path";

const j = join;
const r = resolve;

const dir = import.meta.dirname;
const setupDir = r(dir, "{{ config.setup_dir }}");

export default defineConfig({
  plugins: [],
  resolve: {
    alias: {
      '@': r(dir, "{{ src_rel_path }}"),
    },
  },

  test: { 
    setupFiles: [ 
      j(setupDir, "tests_setup.ts"),  
      {% for file in config.setup_files -%}
      j(setupDir, "{{ file }}"),
      {% endfor -%}
    ], 
    globals: {{ config.globals }},
    environment: "{{ config.environment }}",
    silent: {{ config.silent }},
    sequence: {
      setupFiles: "list",
    },
  },
});
