{
{% filter strip_trailing_comma +%}
  {% if let Some(url) = self.url +%}
  "url": "{{ url }}",
  {% endif +%}
  {% if let Some(email) = self.email +%}
  "email": "{{ email }}"
  {% endif +%}
{% endfilter +%}
}
