{% import "utils.j2" as utils %}

{% match self %}
  {% when Self::Path(path) %}
  "{{ path }}"
  {% when Self::List(list) %}
[ 
  {% for path in list +%}
  "{{ path }}" {% call utils::optional_comma(!loop.last) %}
  {% endfor +%} 
]
{% endmatch %}
