$schema: "https://moonrepo.dev/schemas/tasks.json"

fileGroups:
  build:
    - "src/**/*"
    - "tsconfig.json"
    - "{{ project_tsconfig_name }}"
    - "package.json"
    - "package-lock.json"
    - "pnpm-workspace.yaml"
    - "pnpm-lock.yaml"
    - "/{{ root_tsconfig_name }}"

{%+ for (name, val) in config %}
{{+ name }}: {{+ crate::render_yaml_val(val, 0) }}
{% endfor +%}

{{+  "# ----- Global tasks ------------------------------------------------------------"  ~}}
tasks:
  typecheck:
    command: "tsc --noEmit"
    inputs:
      - "@group(build)"

  tsc-build:
    command: "tsc --build"
    inputs:
      - "@group(build)"
    outputs:
      - "{{ out_dir }}/**/*"

  clean:
    command: "rm -rf {{+ out_dir }}"
    inputs:
      - "{{ out_dir }}/**/*"

  lint:
    command: "oxlint -c '../../.oxlintrc.json'"
    inputs:
      - "/.oxlintrc.json"
      - "src/**/*"

  test:
    command: "vitest --config ./tests/vitest.config.ts run"
    inputs:
      - "@group(build)"
      - "tests/**/*"
      - "{{ project_tsconfig_name }}"

  {% for (name, task) in tasks +%}
  {{+ name }}: {{+ crate::render_yaml_val(task, 1) }}
  {% endfor +%}
