{% import "utils.j2" as utils %}

{
  "name": "{{ name }}",
  "private": {{+ self.private }},
  "version": "{{ self.version }}",
  "type": "{{ self.type_ }}",
  {% call utils::render_optional_string("description", self.description, 2) +%}
  {% call utils::render_optional_string("license", self.license, 2) +%}
  {% call utils::render_optional_string("homepage", self.homepage, 2) +%}
  {% call utils::render_optional_string("main", self.main, 2) +%}
  {% call utils::render_optional_string("browser", self.browser, 2) +%}
  {% call utils::render_optional_string("packageManager", self.package_manager, 2) +%}
  {% call utils::render_list_if_not_empty("workspaces", self.workspaces, 2) +%}
  {% call utils::render_string_object("scripts", self.scripts, 2) +%}
  {% call utils::render_list_if_not_empty("keywords", self.keywords, 2) +%}
  {% call utils::render_list_if_not_empty("files", self.files, 2) +%}
  {% call utils::render_optional_literal("repository", self.repository, 2) +%}
  {% if !self.exports.is_empty() +%}
  "exports": {
    {% for (key, val) in exports +%}
    "{{ key }}": {{+ val }} {% call utils::optional_comma(!loop.last) %}
    {% endfor +%}
  },
  {% endif +%}
  {% call utils::render_optional_literal("man", self.man, 2) +%}
  {% call utils::render_optional_literal("directories", self.directories, 2) +%}
  {% call utils::render_optional_literal("bugs", self.bugs, 2) +%}
  {% if let Some(Person::Data(author)) = self.author +%}
  "author": {
    {{+ author | indent(2) +}}
  },
  {% endif +%}
  {% if !self.contributors.is_empty() +%}
  "contributors": [
    {% for contributor in contributors %}
    {% if let Person::Data(person) = contributor +%}
    {
      {{+ person | indent(4) +}} 
    }{% call utils::optional_comma(!loop.last) +%}
    {% endif %}
    {% endfor +%}
  ],
  {% endif +%}
  {% if !self.maintainers.is_empty() +%}
  "maintainers": [
    {% for maintainer in maintainers %}
    {% if let Person::Data(person) = maintainer +%}
    {
      {{+ person | indent(4) +}} 
    }{% call utils::optional_comma(!loop.last) +%}
    {% endif %}
    {% endfor +%}
  ],
  {% endif +%}
  {% if let Some(config) = self.config +%}
  "config": {
  {% for (key, val) in config +%}
    "{{ key }}": {{+ crate::render_json_val(val, 2) }} {% call utils::optional_comma(!loop.last) %}
  {% endfor +%}
  },
  {% endif +%}
  {% call utils::render_string_object_if_not_empty("peerDependencies", self.peer_dependencies, 2) +%}
  {% call utils::render_string_object_if_not_empty("optionalDependencies", self.optional_dependencies, 2) +%}
  {% call utils::render_string_object_if_not_empty("bundleDependencies", self.bundle_dependencies, 2) +%}
  {% if let Some(publish_config) = self.publish_config +%}
  "publishConfig": {
    {{+ publish_config | indent(4) +}}
  }, 
  {% endif +%}
  {% for (name, data) in metadata +%} 
  "{{ name }}": {{+ self::render_json_val(data, 1) }},
  {% endfor +%}

  {% call utils::render_string_object_if_not_empty("engines", self.engines, 2) +%}
  {% call utils::render_list_if_not_empty("os", self.os, 2) +%}
  {% call utils::render_list_if_not_empty("cpu", self.cpu, 2) +%}
  {% call utils::render_string_object_if_not_empty("devDependencies", self.dev_dependencies, 2) +%}
  "dependencies": { {% if self.dependencies.is_empty() %} } 
  {% else %}
    {% for (name, version) in self.dependencies +%}
    "{{ name }}": "{{ version }}" {% call utils::optional_comma(!loop.last) %}
    {% endfor +%}
  }
  {% endif +%}
}
