{% match self %}
  {% when Self::Bool(true) %}
repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
  {% when Self::Config(config) %}
repos:
  {% for repo in config.repos +%}
  - repo: "{{ repo.path }}"
    {% if let Some(rev) = repo.rev %}
    rev: {{+ rev ~}}
    {% endif +%}
    hooks:
    {% for hook in repo.hooks +%}
    - {{+ crate::render_yaml_val(hook, 2) | trim }}
    {% endfor +%}
  {% endfor +%}
  {% when _ %}
{% endmatch %}
