{% import "utils.j2" as utils %}

{% match self %}
  {% when Self::Path(path) %}
  "{{ path }}"
  {% when Self::Data { type_, url, directory } %}
  
  {
  {% filter strip_trailing_comma +%}
  {% call utils::render_optional_string("type", type_, 4) +%}
  {% call utils::render_optional_string("url", url, 4) +%}
  {% call utils::render_optional_string("directory", directory, 4) +%}
  {% endfilter +%}
  }
{% endmatch %}
