{% macro render_string_object(name, val, indent_val) %}
{% filter indent(indent_val) +%}
{% if val.is_empty() +%}
"{{ name }}": {},
{% else +%}
"{{ name }}": {
{% for (key, val) in val +%}
  "{{+ key +}}": "{{+ val +}}" {% if !loop.last %}, {%+ endif ~%}
{% endfor +%}
},
{% endif %}
{% endfilter %}
{% endmacro %}

{% macro render_string_object_if_not_empty(name, val, indent_val) %}
{% if !val.is_empty() %}
{% call render_string_object(name, val, indent_val) +%}
{% endif %}
{% endmacro %}

{% macro render_list_if_not_empty(name, val, indent_val) %}
{% if !val.is_empty() %}
{% call render_list(name, val, indent_val) +%}
{% endif %}
{% endmacro %}

{% macro render_optional_string_object(name, val, indent_val) %}
{% if let Some(v) = val %}
{%  call render_string_object(name, val, indent_val) %}
{% endif +%}
{% endmacro %}

{% macro render_optional_string(name, val, indent_val) %}
{% if let Some(v) = val %}
{% filter indent(indent_val) +%}
"{{ name }}": "{{+ v }}",
{% endfilter %}
{% endif +%}
{% endmacro %}

{% macro render_optional_bool(name, val, indent_val) %}
{% if let Some(v) = val %}
{% filter indent(indent_val) +%}
"{{ name }}": {{+ v }},
{% endfilter %}
{% endif +%}
{% endmacro %}

{% macro optional_comma(condition) %}
{% if condition %}, {% endif %}
{% endmacro %}

{% macro render_optional_list(name, list, indent_val) %}
{% if let Some(v) = list %}
{% call render_list(name, v, indent_val) %}
{% endif +%}
{% endmacro %}

{% macro render_optional_list_if_not_empty(name, list, indent_val) %}
{% if let Some(list) = list %}
{% if !list.is_empty() %}
{% call render_list(name, list, indent_val) %}
{% endif +%}
{% endif %}
{% endmacro %}

{% macro render_list(name, list, indent_val) %}
{% filter indent(indent_val) %}
{% if list.is_empty() +%}
"{{ name }}": [],
{% else +%}
"{{ name }}": [
  {% for val in list +%}
  "{{ val }}" {% call optional_comma(!loop.last) %}
  {% endfor +%}
],
{% endif %}
{% endfilter %}
{% endmacro %}

{% macro render_optional_literal(name, literal, indent_val) %}
{% filter indent(indent_val) %}
  
{% if let Some(val) = literal +%}
"{{ name }}": {{+ val }},
{% endif %}
{% endfilter %}

{% endmacro %}
