{# Using special variables -#}

Current arch is: {{ sketch_arch }}
Current os is: {{ sketch_os }}
Current os family is: {{ sketch_os_family }}
Is unix: {{ sketch_is_unix }}

{# Functions and filters -#}

A random uuid is: {{ uuid() }}

{# Generating a random alphanumeric string -#}
A random string is: {{ uuid() | truncate(length=6, end="") }}

{# Generating a random number -#}
A random number is: {{ get_random(start=100000, end=9999999) }}

Now is {{ now(utc=true) }}

{# Assigning an env to a variable -#}
{%- set greeting = get_env(name="GREETING") -%}

{#- Manipulating data -#}
{%- set segments = greeting | split(pat=",") -%}
First segment is: {{ segments[0] }}
Second segment is: {{ segments[1] }}

{% set some_path = "mydir/myfile" -%}
Basename is: {{ some_path | basename }}
Parent dir is: {{ some_path | parent_dir }}

{% set dir = "../sketch" -%}

{% if dir | is_dir -%}
It's a dir!
{% endif -%}

{% set file = "Cargo.toml" -%}

{% if file | is_file -%}
It's a file!
{%- endif %}

Matches glob: {{ file | matches_glob(pattern="**/*.toml") }}

{%- set captures = file | capture(regex="(?<path>.*)\.(?<extension>\w+)") %}

Path is: {{ captures['path'] }}
Extension is: {{ captures['extension'] }}

In yaml form:
{{ captures | to_yaml }}

In toml form:
{{ captures | to_toml }}

{% set words = "They're taking the hobbits to Isengard" | capture_many(regex="(?<word>[\w']+)") -%}

{% for capture in words -%}
{{ capture['word'] -}} {% if not loop.last %}{{ " " }}{% endif -%}
{%- endfor -%}!

{% set version = "v0.1.0" -%}

{% set segments = version | semver -%}
Major is: {{ segments['major'] }}
Minor is: {{ segments['minor'] }}
Patch is: {{ segments['patch'] }}

Version matches >=0.1.0: {{ version | matches_semver(target=">=0.1.0") }}
Version matches >=0.2.0: {{ version | matches_semver(target=">=0.2.0") }}

To camelCase: {{ "my_var" | camel }}
To snake_case: {{ "myVar" | snake }}
To SCREAMING_CASE: {{ "myVar" | upper_snake }}
To PascalCase: {{ "myVar" | pascal }}

Luke, I am your {{ "grandfather" | strip_prefix(prefix="grand") }}!

{% set dir = "../examples/templating/templates" -%}

{% for entry in dir | glob(pattern="example.j2") -%}
Entry: {{ entry }}
{% endfor %}
