{% import "utils.j2" as utils %}

{% match self %}
{% when Self::Path(path) %}
  "{{ path }}"
{% when Self::Data { require, import, node, default, types, other } %}
{
  {% filter strip_trailing_comma +%}
  {% call utils::render_optional_string("require", require, 6) +%}
  {% call utils::render_optional_string("import", import, 6) +%}
  {% call utils::render_optional_string("node", node, 6) +%}
  {% call utils::render_optional_string("default", default, 6) +%}
  {% call utils::render_optional_string("types", types, 6) +%}
  {% if !other.is_empty() +%}
  {% for (key, val) in other +%}
      "{{ key }}": "{{+ val }}",
  {% endfor +%}
  {% endif %}

  {% endfilter +%}
    }
{% endmatch %}
