{
  "name": "{{ package_name }}",
  "private": true,
  "version": "0.1.0",
  "type": "module",
  {{+ self.repository +}}
  "scripts": {
  {% for (name, script) in scripts +%}
    "{{+ name +}}": "{{+ script +}}" {% if !loop.last %}, {%+ endif ~%}
  {% endfor +%}
  },
  "dependencies": {
  {% for (dep, version) in dependencies +%}
    "{{+ dep +}}": "{{+ version +}}" {% if !loop.last %}, {%+ endif ~%}
  {% endfor +%}
  },
  "devDependencies": {
  {% for (dep, version) in dev_dependencies +%}
    "{{+ dep +}}": "{{+ version +}}" {% if !loop.last %}, {%+ endif ~%}
  {% endfor +%}
  }
  {% if !metadata.is_empty() %} {{ "," }} {% endif +%}
  {% for (name, data) in metadata +%} 
  "{{ name }}": {{+ self::render_json_val(data, 1) }} {% if !loop.last %}, {%+ endif ~%}
  {% endfor +%}
}
