{% filter strip_trailing_comma %}
  
"name": "{{ self.name }}",
{% if let Some(email) = self.email +%}
  "email": "{{ email }}",
{% endif +%}
{% if let Some(url) = self.url +%}
  "url": "{{ url }}" 
{% endif %}

{% endfilter %}
