{% filter strip_trailing_comma +%}
  
{% if let Some(access) = self.access %}
"access": "{{ access }}",
{% endif +%}
{% if let Some(tag) = self.tag +%}
"tag": "{{ tag }}",
{% endif +%}
{% if let Some(registry) = self.registry +%}
"registry": "{{ registry }}",
{% endif +%}
{% if !other.is_empty() +%}
{% for (key, val) in other +%}
"{{ key }}": "{{+ val }}",
{% endfor +%}
{% endif %}

{% endfilter %}
