{% macro optional_comma(condition) %}
{% if condition %}, {% endif %}
{% endmacro %}

{% if let Some(access) = self.access %}
"access": "{{ access }}" {% call optional_comma(self.tag.is_some() || self.registry.is_some() || !self.other.is_empty()) %}
{% endif +%}
{% if let Some(tag) = self.tag +%}
"tag": "{{ tag }}" {% call optional_comma(self.registry.is_some() || !self.other.is_empty()) %}
{% endif +%}
{% if let Some(registry) = self.registry +%}
"registry": "{{ registry }}" {% call optional_comma(!self.other.is_empty()) %}
{% endif +%}
{% if !other.is_empty() +%}
{% for (key, val) in other +%}
"{{ key }}": "{{+ val }}" {% call optional_comma(!loop.last) %}
{% endfor +%}
{% endif +%}
