{
  "compilerOptions": {
    // Module Resolution
    "lib": ["ESNext", "DOM"],
    "moduleResolution": "NodeNext",
    "module": "NodeNext",
    "target": "ESNext",
    "moduleDetection": "force",
    "verbatimModuleSyntax": true,
    "isolatedModules": true,
    "esModuleInterop": true,
    "resolveJsonModule": true,
    // Declaration Emitting
    "declaration": true,
    "declarationMap": true,
    "composite": true,
    // Compiler Behavior
    "noEmitOnError": true,
    "incremental": true,
    "sourceMap": true,
    // Type Checking Strictness
    "strict": true,
    "strictNullChecks": true,
    "skipLibCheck": true,
    "forceConsistentCasingInFileNames": true,
    "noUncheckedSideEffectImports": true,
    "noUncheckedIndexedAccess": true,
    "allowSyntheticDefaultImports": true
  }
}
