{
  "extends": "{{ root_tsconfig_path }}",
  "files": [],
  "references": [
    {% for path in references +%}
    {
      "path": "{{ path }}"
    }{% if !loop.last %},{% endif ~%}
    {% endfor +%}
  ]
}
