{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "rootDir": "src",
    "outDir": "{{ out_dir }}",
    {% if matches!(self.kind, TsConfigKind::Library) +%}
    "emitDeclarationOnly": true,
    {% else +%}
    "noEmit": true,
    {% endif +%}
    "tsBuildInfoFile": "{{ out_dir }}/.tsBuildInfoSrc",
    "paths": {

    }
  },
  "include": [
    {% if matches!(self.kind, TsConfigKind::Library) +%}
    "src"
    {% else +%}
    "src", "*.ts", "scripts", "tests"
    {% endif +%}
  ],
  "references": []
}

