{% import "utils.j2" as utils %}

{%+ match self %}
{% when Self::Bool(v) %}
{{ v }},
{% when Self::Object { enable, include, exclude, disable_filename_based_type_acquisition } %}
{
  {% filter strip_trailing_comma +%}
  "enable": {{+ enable }},
  {% call utils::render_optional_list("include", include, 2) +%}
  {% call utils::render_optional_list("exclude", exclude, 2) +%}
  {% call utils::render_optional_bool("disable_filename_based_type_acquisition", disable_filename_based_type_acquisition, 2) +%}
  {% endfilter +%}
}
{% endmatch %}
