{% import "utils.j2" as utils %}

{
  {% filter strip_trailing_comma +%}
  {% call utils::render_optional_string("watchFile", self.watch_file, 2) +%}
  {% call utils::render_optional_string("watchDirectory", self.watch_directory, 2) +%}
  {% call utils::render_optional_string("fallbackPolling", self.fallback_polling, 2) +%}
  {% call utils::render_optional_bool("synchronousWatchDirectory", self.synchronous_watch_directory, 2) +%}
  {% call utils::render_optional_list("excludeFiles", self.exclude_files, 2) +%}
  {% call utils::render_optional_list("excludeDirectories", self.exclude_directories, 2) +%}
  {% endfilter +%}
}
