{% import "utils.j2" as utils %}

{
  {% filter strip_trailing_comma +%}
  {% call utils::render_optional_bool("optional", self.optional, 4) +%}
  {% for (key, val) in self.extras +%}
    "{{ key }}": {{+ crate::render_json_val(val, 2) }}
  {% endfor +%}    
  {% endfilter +%}
  }
